.Weather {
  border: 1px solid #dadde1;
  font-family: arial, sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .detail {
  padding-top: 15px;
}

.Weather canvas {
  /* height: 64px;
  width: 64px; */

  margin-right: 0px;
}

.WeatherTemperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 55px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 10px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -26px;
}

.detail {
  display: flex;
}

.unit a:hover {
  color: rgb(37, 68, 125);
  font-size: larger;
}
.unit a {
  color: #0a6efd;
  text-decoration: none;
}

.main_unit {
  font-size: larger;
}

.loc-btn {
  padding: 5px;
}

.btn-primary {
  margin: 0;
  padding: 12px;
}

.search-btn {
  margin: 0;
}

.col {
  padding-left: 10px !important;
  padding-right: 2px !important;
  margin: 0;
}
